@charset "utf-8";
*{margin:0;padding:0;list-style:none;border:0;}
body{width:100%;margin:0 auto;overflow:auto}

/* main_image */
.main_visual{height:23.125vh;border-top:1px solid #d7d7d7;overflow:hidden;position:relative;}
.main_image{width:100%;height:23.125vh;overflow:hidden;position:relative;}
.main_image ul{height:23.125vh;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{float:left;height:100%;}
.main_image li > a{display:block;width:100%;height:100%;}
.main_image li > a > img{width:100%;height:100%;}



.flicking_con{position:absolute;bottom:1vh;left:50%;z-index:999;width:300px;height:21px;margin:0 0 0 -50px;}
.flicking_con a{float:left;width:21px;height:21px;margin:0;padding:0;background:url('../img/banner/btn_main_img.png') 0 0 no-repeat;display:block;text-indent:-1000px}
.flicking_con a.on{background-position:0 -21px}

#banner{width:500%;}
#banner li{width:20%;}
#banner li a{ display:block;width:100%;height:100%;}
