<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fridolph的个人网站 - Fridolph's Personal Website</title>
    <meta name=description content="付寅生 - 一个阳光开朗积极,爱棒球的热血运动技术型青年,大成都的前端工程师">
    <meta name=keywords content=付寅生,简历,个人简历,前端简历,前端工程师简历,fridolph,霪霖笙箫,高级前端,>
    <meta name=author content=付寅生>
    <meta name=copyright content=付寅生>
  </head>

  <body>
    <div>
      <h1>program page</h1>
    </div>
  </body>

</html>
