.top-bar-fixed {
  height: 8.7vh;
  border-bottom: 1px solid #999;
  -webkit-box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06), 0 0 8px rgba(0, 0, 0, 0.1) inset;
  overflow: auto;
  background-color: #fff;
}
.top-bar-fixed a {
  color: #ef2250;
}
.top-bar {
  height: 100%;
  line-height: 8.7vh;
}
.top-bar .item {
  height: 100%;
}
.item {
  height: 100%;
}
.item .item-box {
  height: 100%;
  line-height: 8.7vh;
}
.item .item-box a {
  display: block;
  height: 100%;
  font-size: 2.4rem;
}
.item .item-box a i {
  margin-right: 12px;
}
.margin-top {
  margin-top: 9vh;
}
.hby-container {
  padding: 0;
  margin: 0;
}
body {
  overflow: auto;
}
.hb-list {
  width: 100%;
  margin: 0;
}
li:nth-child(even) {
  background-color: #ea4931;
}
li:nth-child(odd) {
  background-color: #f7d045;
}
.list-item {
  width: 20vw;
  height: 20vw;
  float: left;
  position: relative;
}
.list-item a {
  display: block;
  height: 20vw;
  width: vw;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}
.list-item a img {
  width: 72%;
  height: 72%;
  border-radius: 50%;
  margin-top: 8%;
}
.list-item a h2 {
  font-size: 1.3rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1px;
  margin: auto;
  font-weight: bold;
  color: #333;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.list-item:last-child {
  background-color: #fff;
  padding: width:14vw;
  height: 14vw;
  padding: 3vw;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
}
