.clearfix{zoom:1} .clearfix:after {content:".";height:0;visibility:hidden;display:block;clear:both}

.top-bar-fixed a {
  color: #333333;
  font-size: 2.2rem;
}
.top-bar {
  height: 100%;
  line-height: 8.7vh;
}
.top-bar .item {
  height: 100%;
}

.bottom-bar-fixed {
  height: 8.7vh;
  border-top: 1px solid #eee;
  background-color: #fff;
  -webkit-box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 0 8px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 0 8px rgba(0, 0, 0, 0.2) inset;
}
.bottom-bar {
  height: 8.7vh;
}
.bottom-bar .item {
  height: 100%;
}
.bottom-bar .bottom-btn {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.bottom-bar-fixed button{width:100%;height:100%;background-color: #ff505a; color:#eeeeee;font-size: 2rem; font-family: "微软雅黑";}

.btn-hby,
.btn-yydb,
.btn-wd {
  background: #ffffff no-repeat center center;
  background-size: 66%;
}
.btn-hby {
  background-image: url(../../img/btn_hby_gray.png);
}
.btn-yydb {
  background-image: url(../../img/btn_yydb_gray.png);
}
.btn-wd {
  background-image: url(../../img/btn_my.png);
}
.wd-item {
  height: 10vh;
  border-bottom: 1px solid #dfdfdf;
}
.wd-item a {
  width: 100%;
  height: 100%;
  line-height: 10vh;
  font-size: 2.4rem;
}
.wd-item img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  position: relative;
  top: -3px;
}

.accountInfo{
  margin-bottom: 5vh;
}
.my-account{
  height:39.0625vh;
  background-color: #00b5fe;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6vw;
  font-size: 2rem;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  color:#eeeeee;
}

.exchange{font-size: 1.8rem; color:#eeeeee; float:right;}



.my-info{
  padding:0 4vw;
}

.balance{
  height: 10vh;
  line-height: 10vh;
  overflow: hidden;
  margin-bottom: 5vh;
}
.dollar{
  display: inline-block;
  line-height: 10vh;
  height: 10vh;
  padding:0 6vw;
  background-color: #0094d0;
  color:#eeeeee;
  font-size: 2.8rem;
  float:right;
}

.cz-tx a{
  color:#eeeeee;
}



@media screen (min-width:321px) and (max-width:379px) {
  .my-account{font-size: 2.2rem;}
  
}


@media screen and (min-width:380px) {
  .my-account {font-size: 2.6rem;}
  .exchange {font-size: 2.3rem;}  
}

.user-edit{
  font-size: 1.8rem;
}

.mg-btm{
  height:10vh;
  line-height: 10vh;  
}

.mg-btm input{
  height:9.8vh;
  border-bottom:1px solid #dedede;
}

.xg-name{
  float:right;
  height:10vh;
  line-height: 10vh;
}

.xg-name a{
  float:right;
}

.xg-name span, .xg-name input{float:left; display: inline-block;}
.xg-name input{width:40vw;}

.qrxg {margin-top: 10vh;}

.qrxg input{width:100%;  height:10vh; line-height: 10vh; border-radius:6px; color:#eeeeee; background-color: #00b5fe;}

input[type="text"]:focus {
  background-color: #f7f8f9; 
  border-bottom: 1px solid #dfdfdf;
}

input[disabled]{
  background-color: #ffffff;
}


.pop {
  width:100%;height:100%;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);  
}

.hongbao{
  height: 70vh;
  width: 82vw;
  margin: 15vh 0 0 9vw;  
  border-radius: 6px;
  background: url(../../img/hongbao_bg.jpg) 0 0 no-repeat;
  background-size: 100%;
  text-align: center;
  color:#ffe4b6;
  font-size: 1.8rem;
}
.hongbao p{margin:2vh 0;}
.hongbao p a{color:#ffe4b6;}
.hongbao .sj-img{
  margin-top: 3vh;
  width:24vw;height:24vw;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}
.sj-img img{width:100%;}

.hongbao .shouqi{margin-top: 15vh;}

.hongbao .qiangdao{
  font-size: 3.6rem; 
  margin-left: 2vw;
}

.hbxq .hongbao, .hbxq .qiangdao{
  font-size: 3.6rem; 
  margin-left: 2vw;
}

// 红包抢夺详情

.top-bar-fixed{
  background-color: #e8534e;
}
#hbxq-content{
  margin-top:0vh;
  background: url(../../img/banyuan.png) no-repeat 0 0 ;
  background-size: 100%;
  font-size: 1.8rem;
}

.hbxq{
  text-align: center;
}

.hbxq .sj-img{
  margin-top: 10vh;
  width:24vw;height:24vw;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;

}


.send-hb{
  margin-top: 5vh;
  height:9vh;
  line-height: 9vh;
  background-color: #eeeeee;
  border-top:1px solid #b1b1b1;
  border-bottom:1px solid #b1b1b1;
}



// 用户列表
.fl{float:left;}
.fr{float:right;}
.list-item{
  height:12vh;line-height: 12vh;
}
.list-item p, .list-item span{
  margin:1.5vh 0;padding:0;
  height:3vh;
  line-height: 3vh;
}

.list-left, .list-right{
  height:12vh;line-height: 12vh;
}

.list-user-name{
  color:#002c90;
}

.list-right{
  text-align: right;
}