html {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
body {
  width: 100%;
  font-size: 14px;
  overflow-x: hidden;
  position: relative;
}
@media screen and (max-width: 321px) {
  html,
  body {
    font-size: 10px;
  }
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.page {
  width: 100%;
  height: 100%;
  position: relative;
}
.page img {
  width: 100%;
}
.page .content img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.red_bag {
  display: block;
  width: 15vw;
  height: 20vw;
  position: absolute;
  right: 2%;
  top: 24.5vh;
}
.red_bag img {
  width: 100%;
}
.details {
  padding: 4%;
  margin-top: 5vh;
}
.details h2 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 2vh;
}
.details p {
  font-size: 1.4rem;
  line-height: 1.2;
  margin-bottom: 2vh;
}
.details h1 {
  font-size: 1.8rem;
  padding: 1vh 0;
  border-top: 2px solid #dedede;
  line-height: 1.3;
}
.details h1 a {
  display: inline-block;
  margin-left: 1rem;
  font-size: 1.4rem;
}
.progress {
  overflow: hidden;
  margin-bottom: 2vh;
}
.progress .progress-show {
  width: 70%;
  height: 100%;
  float: left;
  overflow: hidden;
}
.progress .progress-show .all {
  width: 100%;
  height: 2.5vh;
  display: block;
  border-radius: 2%;
  background-color: #ccc;
  position: relative;
}
.progress .progress-show .all span {
  display: block;
  width: 93%;
  height: 100%;
  background-color: #fdb41c;
  font-size: 1.4rem;
}
.progress .progress-show p {
  height: 4vh;
  line-height: 4vh;
}
.progress .progress-text {
  width: 28%;
  height: 100%;
  float: right;
  line-height: 2.5vh;
}
.join p {
  height: 5vh;
  line-height: 5vh;
  font-size: 1.2rem;
  margin-bottom: 2vh;
}
.join p a {
  display: inline-block;
  width: 4vw;
  text-align: center;
  font-size: 1.4rem;
  border: 1px solid #999;
}
.join p .add {
  margin-left: 10px;
}
.join p .jian {
  margin-right: 10px;
}
.join p input[type="number"] {
  width: 8vw;
  height: 100%;
  text-align: center;
}
.join p span {
  font-size: 1.2rem;
  color: #DB3953;
  float: right;
}
.start {
  overflow: hidden;
}
.start button {
  border: none;
  padding: 1vh 5vw;
  background-color: #db3652;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 4px;
}
.pop {
  width: 76vw;
  height: 76vh;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 12vh 12vw;
}
.pay {
  width: 88%;
  background-color: #fff;
  padding: 6% 6%;
  border-radius: 10px;
  position: relative;
}
.pay input[type="number"] {
  width: 20%;
  text-align: center;
  height: 3vh;
  margin-bottom: .5vh;
}
.pay .start {
  position: absolute;
  right: 4%;
  bottom: 3%;
}
.pay .start input {
  border: none;
  padding: 1vh 5vw;
  background-color: #db3652;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 4px;
}
.pay h2 {
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 1.2vh;
}
.pay p {
  font-size: 1.4rem;
  line-height: 1.2;
  margin-bottom: 1.2vh;
  display: block;
  color: #777;
}
.pay .xiaoji {
  text-align: right;
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 18%;
}
.pay .xiaoji span {
  color: #db3652;
  font-size: 1.8rem;
}
.pay .xiaoji i {
  margin-right: 6px;
}
#close {
  display: block;
  width: 12%;
  height: 6vh;
  text-align: center;
  line-height: 6vh;
  position: absolute;
  top: 0%;
  right: 0%;
  font-weight: bold;
}
.demo .item {
  height: 40vh;
}
