<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .container-fluid {
      padding: 20px;
    }

    .box {
      margin-bottom: 20px;
      float: left;
      width:240px;
      max-width: 360px;
    }
    .box img {
      max-width: 100%
    }
  </style>
</head>

<body>
  <div id="masonry" class="container-fluid">
    <div class="box">
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493025943&di=0b83ae2a28c7aaa3230f164f71ad1006&imgtype=jpg&er=1&src=http%3A%2F%2Fi2.img.969g.com%2Fdown%2Fimgx2011%2F12%2F07%2F145_104405_e69ce_lit.jpg" alt="">      
    </div>
    <div class="box"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1492431223903&di=49dd25f4d46711f2c6b1339762db01ab&imgtype=0&src=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fitem%2F201609%2F01%2F20160901014225_eHBjA.thumb.700_0.jpeg"></div>
    <div class="box"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1492431223903&di=298096d277081f8caa14676b7de41544&imgtype=0&src=http%3A%2F%2Ff6.topitme.com%2F6%2Fa3%2F00%2F1129678972cb400a36o.jpg"></div>
    <div class="box"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1492431223902&di=edfb9a46196966915362abd0aa133c98&imgtype=0&src=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fitem%2F201510%2F22%2F20151022231518_F2dsN.thumb.700_0.jpeg"></div>
    <div class="box"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1492431223901&di=e33466b790296a07eb0226b4cae2a9d4&imgtype=0&src=http%3A%2F%2Fzt.comicyu.com%2FUploadFiles%2FTopics%2F2010%2F7%2F201007182213346981.jpg" alt=""></div>
    <div class="box"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1492431223901&di=129ab29cd30bf44169fbc9202820e069&imgtype=0&src=http%3A%2F%2Fcnews.chinadaily.com.cn%2Fimg%2Fattachement%2Fjpg%2Fsite1%2F20170326%2Fbc305bcee6d91a41486718.jpg" alt=""></div>
    <div class="box"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1492431350433&di=d61264271122854a57a55b1d839303bd&imgtype=0&src=http%3A%2F%2Fpic21.nipic.com%2F20120609%2F7700995_001311925397_2.jpg" alt=""></div>
    <div class="box"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1492431350432&di=da531226df2f2f4564729c98cf9ba505&imgtype=0&src=http%3A%2F%2Fwww.82884.com%2FUpfiles%2Fnews%2F2014819143548360.jpg" alt=""></div>
    <div class="box"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1492431350432&di=0abdf081322c94f4859edc48ff875b10&imgtype=0&src=http%3A%2F%2Fi2.img.969g.com%2Fdown%2Fimgx2011%2F12%2F07%2F145_104405_e69ce_lit.jpg" alt=""></div>
    <div class="box"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1492431350431&di=85c97eece551d49ae421373057f2d5f7&imgtype=0&src=http%3A%2F%2Fa4.topitme.com%2Fo%2F201005%2F01%2F12726847898655.jpg" alt=""></div>
    <div class="box"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1492431350431&di=dfcc67eccbb159b19aec23bb0d2780a8&imgtype=0&src=http%3A%2F%2Fp3.music.126.net%2FPJqKpZurU_qyIL3vmJ80rQ%3D%3D%2F7839517906622513.jpg" alt=""></div>
    <div class="box"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1492431350430&di=cc75f4a7b469f1a7150d302276ffa0cc&imgtype=0&src=http%3A%2F%2Fit.southcn.com%2F9%2Fattachment%2F20170321%2F20050688%2F72b8f425ef1d46a19267.jpg" alt=""></div>
  </div>
</body>
<script src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
<script src="http://jq22.qiniudn.com/masonry-docs.min.js"></script>
<script>
  $(function () {
    var $container = $('#masonry');
    $container.imagesLoaded(function () {
      $container.masonry({
        itemSelector: '.box',
        gutter: 20,
        isAnimated: true,
      });
    });
  });
</script>

</html>