@-webkit-keyframes uil-clock-rotate1 {
  0% {
    -ms-transform: rotate(0deg) translate(0, -25px);
    -moz-transform: rotate(0deg) translate(0, -25px);
    -webkit-transform: rotate(0deg) translate(0, -25px);
    -o-transform: rotate(0deg) translate(0, -25px);
    transform: rotate(0deg) translate(0, -25px);
  }
  100% {
    -ms-transform: rotate(360deg) translate(0, -25px);
    -moz-transform: rotate(360deg) translate(0, -25px);
    -webkit-transform: rotate(360deg) translate(0, -25px);
    -o-transform: rotate(360deg) translate(0, -25px);
    transform: rotate(360deg) translate(0, -25px);
  }
}
@-webkit-keyframes uil-clock-rotate1 {
  0% {
    -ms-transform: rotate(0deg) translate(0, -25px);
    -moz-transform: rotate(0deg) translate(0, -25px);
    -webkit-transform: rotate(0deg) translate(0, -25px);
    -o-transform: rotate(0deg) translate(0, -25px);
    transform: rotate(0deg) translate(0, -25px);
  }
  100% {
    -ms-transform: rotate(360deg) translate(0, -25px);
    -moz-transform: rotate(360deg) translate(0, -25px);
    -webkit-transform: rotate(360deg) translate(0, -25px);
    -o-transform: rotate(360deg) translate(0, -25px);
    transform: rotate(360deg) translate(0, -25px);
  }
}
@-moz-keyframes uil-clock-rotate1 {
  0% {
    -ms-transform: rotate(0deg) translate(0, -25px);
    -moz-transform: rotate(0deg) translate(0, -25px);
    -webkit-transform: rotate(0deg) translate(0, -25px);
    -o-transform: rotate(0deg) translate(0, -25px);
    transform: rotate(0deg) translate(0, -25px);
  }
  100% {
    -ms-transform: rotate(360deg) translate(0, -25px);
    -moz-transform: rotate(360deg) translate(0, -25px);
    -webkit-transform: rotate(360deg) translate(0, -25px);
    -o-transform: rotate(360deg) translate(0, -25px);
    transform: rotate(360deg) translate(0, -25px);
  }
}
@-ms-keyframes uil-clock-rotate1 {
  0% {
    -ms-transform: rotate(0deg) translate(0, -25px);
    -moz-transform: rotate(0deg) translate(0, -25px);
    -webkit-transform: rotate(0deg) translate(0, -25px);
    -o-transform: rotate(0deg) translate(0, -25px);
    transform: rotate(0deg) translate(0, -25px);
  }
  100% {
    -ms-transform: rotate(360deg) translate(0, -25px);
    -moz-transform: rotate(360deg) translate(0, -25px);
    -webkit-transform: rotate(360deg) translate(0, -25px);
    -o-transform: rotate(360deg) translate(0, -25px);
    transform: rotate(360deg) translate(0, -25px);
  }
}
@-moz-keyframes uil-clock-rotate1 {
  0% {
    -ms-transform: rotate(0deg) translate(0, -25px);
    -moz-transform: rotate(0deg) translate(0, -25px);
    -webkit-transform: rotate(0deg) translate(0, -25px);
    -o-transform: rotate(0deg) translate(0, -25px);
    transform: rotate(0deg) translate(0, -25px);
  }
  100% {
    -ms-transform: rotate(360deg) translate(0, -25px);
    -moz-transform: rotate(360deg) translate(0, -25px);
    -webkit-transform: rotate(360deg) translate(0, -25px);
    -o-transform: rotate(360deg) translate(0, -25px);
    transform: rotate(360deg) translate(0, -25px);
  }
}
@-webkit-keyframes uil-clock-rotate1 {
  0% {
    -ms-transform: rotate(0deg) translate(0, -25px);
    -moz-transform: rotate(0deg) translate(0, -25px);
    -webkit-transform: rotate(0deg) translate(0, -25px);
    -o-transform: rotate(0deg) translate(0, -25px);
    transform: rotate(0deg) translate(0, -25px);
  }
  100% {
    -ms-transform: rotate(360deg) translate(0, -25px);
    -moz-transform: rotate(360deg) translate(0, -25px);
    -webkit-transform: rotate(360deg) translate(0, -25px);
    -o-transform: rotate(360deg) translate(0, -25px);
    transform: rotate(360deg) translate(0, -25px);
  }
}
@-o-keyframes uil-clock-rotate1 {
  0% {
    -ms-transform: rotate(0deg) translate(0, -25px);
    -moz-transform: rotate(0deg) translate(0, -25px);
    -webkit-transform: rotate(0deg) translate(0, -25px);
    -o-transform: rotate(0deg) translate(0, -25px);
    transform: rotate(0deg) translate(0, -25px);
  }
  100% {
    -ms-transform: rotate(360deg) translate(0, -25px);
    -moz-transform: rotate(360deg) translate(0, -25px);
    -webkit-transform: rotate(360deg) translate(0, -25px);
    -o-transform: rotate(360deg) translate(0, -25px);
    transform: rotate(360deg) translate(0, -25px);
  }
}
@keyframes uil-clock-rotate1 {
  0% {
    -ms-transform: rotate(0deg) translate(0, -25px);
    -moz-transform: rotate(0deg) translate(0, -25px);
    -webkit-transform: rotate(0deg) translate(0, -25px);
    -o-transform: rotate(0deg) translate(0, -25px);
    transform: rotate(0deg) translate(0, -25px);
  }
  100% {
    -ms-transform: rotate(360deg) translate(0, -25px);
    -moz-transform: rotate(360deg) translate(0, -25px);
    -webkit-transform: rotate(360deg) translate(0, -25px);
    -o-transform: rotate(360deg) translate(0, -25px);
    transform: rotate(360deg) translate(0, -25px);
  }
}
width: 100%;
@-webkit-keyframes uil-clock-rotate2 {
  0% {
    -ms-transform: rotate(0deg) translate(0, -35px);
    -moz-transform: rotate(0deg) translate(0, -35px);
    -webkit-transform: rotate(0deg) translate(0, -35px);
    -o-transform: rotate(0deg) translate(0, -35px);
    transform: rotate(0deg) translate(0, -35px);
  }
  100% {
    -ms-transform: rotate(360deg) translate(0, -35px);
    -moz-transform: rotate(360deg) translate(0, -35px);
    -webkit-transform: rotate(360deg) translate(0, -35px);
    -o-transform: rotate(360deg) translate(0, -35px);
    transform: rotate(360deg) translate(0, -35px);
  }
}
@-webkit-keyframes uil-clock-rotate2 {
  0% {
    -ms-transform: rotate(0deg) translate(0, -35px);
    -moz-transform: rotate(0deg) translate(0, -35px);
    -webkit-transform: rotate(0deg) translate(0, -35px);
    -o-transform: rotate(0deg) translate(0, -35px);
    transform: rotate(0deg) translate(0, -35px);
  }
  100% {
    -ms-transform: rotate(360deg) translate(0, -35px);
    -moz-transform: rotate(360deg) translate(0, -35px);
    -webkit-transform: rotate(360deg) translate(0, -35px);
    -o-transform: rotate(360deg) translate(0, -35px);
    transform: rotate(360deg) translate(0, -35px);
  }
}
@-moz-keyframes uil-clock-rotate2 {
  0% {
    -ms-transform: rotate(0deg) translate(0, -35px);
    -moz-transform: rotate(0deg) translate(0, -35px);
    -webkit-transform: rotate(0deg) translate(0, -35px);
    -o-transform: rotate(0deg) translate(0, -35px);
    transform: rotate(0deg) translate(0, -35px);
  }
  100% {
    -ms-transform: rotate(360deg) translate(0, -35px);
    -moz-transform: rotate(360deg) translate(0, -35px);
    -webkit-transform: rotate(360deg) translate(0, -35px);
    -o-transform: rotate(360deg) translate(0, -35px);
    transform: rotate(360deg) translate(0, -35px);
  }
}
@-ms-keyframes uil-clock-rotate2 {
  0% {
    -ms-transform: rotate(0deg) translate(0, -35px);
    -moz-transform: rotate(0deg) translate(0, -35px);
    -webkit-transform: rotate(0deg) translate(0, -35px);
    -o-transform: rotate(0deg) translate(0, -35px);
    transform: rotate(0deg) translate(0, -35px);
  }
  100% {
    -ms-transform: rotate(360deg) translate(0, -35px);
    -moz-transform: rotate(360deg) translate(0, -35px);
    -webkit-transform: rotate(360deg) translate(0, -35px);
    -o-transform: rotate(360deg) translate(0, -35px);
    transform: rotate(360deg) translate(0, -35px);
  }
}
@-moz-keyframes uil-clock-rotate2 {
  0% {
    -ms-transform: rotate(0deg) translate(0, -35px);
    -moz-transform: rotate(0deg) translate(0, -35px);
    -webkit-transform: rotate(0deg) translate(0, -35px);
    -o-transform: rotate(0deg) translate(0, -35px);
    transform: rotate(0deg) translate(0, -35px);
  }
  100% {
    -ms-transform: rotate(360deg) translate(0, -35px);
    -moz-transform: rotate(360deg) translate(0, -35px);
    -webkit-transform: rotate(360deg) translate(0, -35px);
    -o-transform: rotate(360deg) translate(0, -35px);
    transform: rotate(360deg) translate(0, -35px);
  }
}
@-webkit-keyframes uil-clock-rotate2 {
  0% {
    -ms-transform: rotate(0deg) translate(0, -35px);
    -moz-transform: rotate(0deg) translate(0, -35px);
    -webkit-transform: rotate(0deg) translate(0, -35px);
    -o-transform: rotate(0deg) translate(0, -35px);
    transform: rotate(0deg) translate(0, -35px);
  }
  100% {
    -ms-transform: rotate(360deg) translate(0, -35px);
    -moz-transform: rotate(360deg) translate(0, -35px);
    -webkit-transform: rotate(360deg) translate(0, -35px);
    -o-transform: rotate(360deg) translate(0, -35px);
    transform: rotate(360deg) translate(0, -35px);
  }
}
@-o-keyframes uil-clock-rotate2 {
  0% {
    -ms-transform: rotate(0deg) translate(0, -35px);
    -moz-transform: rotate(0deg) translate(0, -35px);
    -webkit-transform: rotate(0deg) translate(0, -35px);
    -o-transform: rotate(0deg) translate(0, -35px);
    transform: rotate(0deg) translate(0, -35px);
  }
  100% {
    -ms-transform: rotate(360deg) translate(0, -35px);
    -moz-transform: rotate(360deg) translate(0, -35px);
    -webkit-transform: rotate(360deg) translate(0, -35px);
    -o-transform: rotate(360deg) translate(0, -35px);
    transform: rotate(360deg) translate(0, -35px);
  }
}
@keyframes uil-clock-rotate2 {
  0% {
    -ms-transform: rotate(0deg) translate(0, -35px);
    -moz-transform: rotate(0deg) translate(0, -35px);
    -webkit-transform: rotate(0deg) translate(0, -35px);
    -o-transform: rotate(0deg) translate(0, -35px);
    transform: rotate(0deg) translate(0, -35px);
  }
  100% {
    -ms-transform: rotate(360deg) translate(0, -35px);
    -moz-transform: rotate(360deg) translate(0, -35px);
    -webkit-transform: rotate(360deg) translate(0, -35px);
    -o-transform: rotate(360deg) translate(0, -35px);
    transform: rotate(360deg) translate(0, -35px);
  }
}
.uil-clock-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
}
.uil-clock-css .clock {
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  background: #d6f1ff;
  border: 16px solid #2b74ba;
  top: 20px;
  left: 20px;
}
.uil-clock-css .ptr1 {
  position: absolute;
  width: 10px;
  height: 50px;
  top: 75px;
  left: 95px;
  background: #000;
  border-radius: 5px;
  -ms-animation: uil-clock-rotate1 5s linear infinite;
  -moz-animation: uil-clock-rotate1 5s linear infinite;
  -webkit-animation: uil-clock-rotate1 5s linear infinite;
  -o-animation: uil-clock-rotate1 5s linear infinite;
  animation: uil-clock-rotate1 5s linear infinite;
}
.uil-clock-css .ptr2 {
  position: absolute;
  width: 4px;
  height: 80px;
  top: 60px;
  left: 98px;
  background: #f00;
  border-radius: 2px;
  -ms-animation: uil-clock-rotate2 1s linear infinite;
  -moz-animation: uil-clock-rotate2 1s linear infinite;
  -webkit-animation: uil-clock-rotate2 1s linear infinite;
  -o-animation: uil-clock-rotate2 1s linear infinite;
  animation: uil-clock-rotate2 1s linear infinite;
  opacity: 1;
}